<!-- Html when a post is found in DB -->
{{ define "display" }} {{ template "layout" .markdown.TitleMD}}
<main role="main" class="container col-sm-12 col-md-9 col-lg-9" itemscope itemtype="https://schema.org/SocialMediaPosting">
  <section class="text-header">
    <h1 class="Title" itemprop="headline name">{{.markdown.TitleMD}}</h1>
    <p class="Time"><strong>Post created at:</strong> <time class="timestamp"itemprop="sdDatePublished" id="timestamp">{{.meta.CreatedAt.Format "02 Jan 2006 15:04"}}</time></p>
    <p><span>{{.meta.Views}}</span> Views</p>
    <p>
      <a href="/post/{{.ID}}/edit">Edit post</a>
    </p>
    <p>
      <a href="/post/{{.ID}}/delete">Delete post</a>
    </p>
    <hr>
  </section>
  <article class="text-content" itemprop="text">
    <span class="content">{{.markdown.MD}}</span>
  </article>
</main>
{{ template "layoutEnd" }} {{end}}

<!-- The template when a post is not found -->
{{ define "notFound"}} {{ template "layout" }}
<main role="main" class="container col-sm-12 col-md-9 col-lg-9">
  <div class="text-header col-md-12 text-center">
    <h1 class="Title">Your post was not found</h1>
  </div>
</main>
{{ template "layoutEnd" }} {{ end }} {{ define "404"}}
<main role="main" class="container col-md-6">
  <div class="text-header col-md-12 text-center">
    <h1 class="Title">The Page does not exsist</h1>
  </div>
</main>
{{ end }}

{{define "doc"}} {{ template "layout" }}
<main role="main" class="container col-sm-12 col-md-9 col-lg-9">
  <h2>This page is intended for testing the MD rendering only for the most part</h2>
  <br>
  <span>{{.MD}}</span>
</main>
{{ template "layoutEnd" }} {{end}}

{{ define "displayPass"}} {{ template "layout" }}
<main role="main" class="container col-sm-12 col-md-9 col-lg-9">
  <article class="col-md-12">
    <div class="text-header">
      <h1>Unencrypt File</h1>
    </div>
    <form action="/post/{{.ID}}/{{.Mode}}/decrypt" method="POST">
       <p id="debug">{{.csrfField}}</p>
      <label>Password</label>
      <input type="password" class="form-control col-md-12" id="formGroupExampleInput" placeholder="(Optional)" name="Pass">

      <br>
      <input type="submit" class="btn btn-danger" value="Submit password">
    </form>
  </article>
</main>
{{ template "layoutEnd" }} {{ end }}