<!-- Html when a post is found in DB -->
{{ define "display" }}
  {{ template "layout" }}
  <main role="main" class="container col-sm-12 col-md-9 col-lg-9">
    <div class="text-header ">
      <h1 class="Title">{{.TitleMD}}</h1>
      <h6 class="Time">Post created at: {{.Time}}</h6>
      <h6>{{.Views}} Views</h6>
      <h6><a href="/post/{{.ID}}/edit">Edit post</a></h6>
      <h6><a href="/post/{{.ID}}/delete">Delete post</a></h6>
      <hr>
    </div>
    <div class="text-content ">
      <span class="content">{{.Md}}</span>
    </div>
  </main>
  {{ template "layoutEnd" }}
{{end}}

<!-- The template when a post is not found --> 
{{ define "notFound"}}
  {{ template "layout" }}
  <main role="main" class="container col-sm-12 col-md-9 col-lg-9">
      <div class="text-header col-md-12 text-center">
        <h1 class="Title">Your post was not found</h1>  
      </div>
    </main>
  {{ template "layoutEnd" }}
{{ end }}
{{ define "404"}}
  <main role="main" class="container col-md-6">
    <div class="text-header col-md-12 text-center">
      <h1 class="Title">The Page does not exsist</h1>  
    </div>
  </main>
{{ end }}

{{define  "doc"}}
  {{ template "layout" }}
  <main role="main" class="container col-sm-12 col-md-9 col-lg-9">
    <h2>This page is intended for testing the MD rendering only for the most part</h2>
    <br>
    <span>{{.Md}}</span>
  </main>
  {{ template "layoutEnd" }}
{{end}}