<!-- Html when a post is found in DB -->
{{ define "display" }}
  {{ template "layout" }}
  <main role="main" class="container col-md-6">
    <div class="text-header col-md-12">
      <h1 class="Title">{{.Title}}</h1>
      <h6 class="Time">Post created at: {{.Time.Hour}}:{{.Time.Minute}} {{.Time.Day}} {{.Time.Month}} {{.Time.Year}}</h6>
      <h6><a href="/post/{{.PubID}}/edit/{{.EditID}}">Edit post</a></h6>
      <h6><a href="/api/v1/post/{{.PubID}}/delete/{{.EditID}}">Delete post</a></h6>
      <hr>
    </div>
    <div class="text-content col-md-12">
      <span class="content">{{.Content}}</span>
    </div>
  </main>
  {{ template "layoutEnd" }}
{{end}}

<!-- The template when a post is not found --> 
{{ define "notFound"}}
  {{ template "layout" }}
    <main role="main" class="container col-md-6">
      <div class="text-header col-md-12 text-center">
        <h1 class="Title">Your post was not found</h1>  
      </div>
    </main>
  {{ template "layoutEnd" }}
{{ end }}
{{ define "404"}}
  <main role="main" class="container col-md-6">
    <div class="text-header col-md-12 text-center">
      <h1 class="Title">The Page does not exsist</h1>  
    </div>
  </main>
{{ end }}

{{define "edit"}}
  {{ template "layout" }}
  <main class="container col-md-6">
    <div class="text-header col-md-12 text-center">
        <h1>Edit Post</h1>
      <form action="/post/{{.PubID}}/edit/{{.EditID}}/post" method="POST">
        <div class="form-group">
          <label for="formGroupExampleInput">Title</label>
          <input type="text" class="form-control form-control-lg" id="formGroupExampleInput" value="{{.Title}}" name="Title" >
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Text</label>
          <textarea type="text" class="form-control content-box" id="formGroupExampleInput" value="{{.Content}}" name="Content">{{.Content}}</textarea>
        </div>
        <div class="form-group">
          <input type="submit" class ="btn btn-primary"value="Edit">
        </div>
      </form>

    </div>
  </main>
  {{ template "layoutEnd" }}
{{end}}