{{define "index"}} {{ template "layout" }}
<main role="main" class="container">
    <div class="row">
        <div class="col card bax">
            <div class="card-body">
                <h4 class="card-title">{{.Count}}</h4>
                <hr>
                <p class="card-text">Post(s) in total</p>
            </div>
        </div>
        <div class="col-9">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Views</th>
                        <th scope="col">PostPerms</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Meta}}
                    <tr>
                        <td class="col-2" scope="row"><a href="/post/{{.PostID}}/request">{{.PostID}}</a></td>
                        <td>{{.Title}}</td>
                        <td>{{.Views}}</td>
                        <td>{{.PostPerms}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</main>
{{ template "layoutEnd" }} {{end}}