{{ define "createpost"}} {{ template "layout" }}
<link rel="stylesheet" href="/static/css/simplemde.min.css">
<script src="/static/js/simplemde.min.js"></script>
<main role="main" class="container col-sm-12 col-md-9 col-lg-9">
  <article class="text-header col-md-12">
    <h4>Create a new post</h4>
    <form action="/post/create/new" method="POST" id="postForm">
      {{.csrfField}}
      <section class="topcontainer">
        <div class="form-group col-md-9 topbar">
          <label for="formGroupExampleInput">Title</label><br>
          <input type="text" class="form-control col-md-12" id="formGroupExampleInput" placeholder="(Optional)" name="Title">
        </div>
        <aside class="form-group col-md-3 topbar derpimbadatcss">
          <label class="">Use custom password</label>
          <input type="checkbox" name="CustomPass" id="customPass" onclick="activateCustomPass()"> 
          <input type="password" name="Pass" class="form-control" id="customField" disabled="true" placeholder="Password">
        </aside>
      </section>
      <div class="form-group">
          <label>Viewing/editing settings</label><br>
          <select class="form-control" name="postperms" id="sel">
            <option value="1">Anarchy, anyone can view and edit the post without needing a password</option>
            <option value="2" selected="selected">Anyone with link can view, but not edit</option>
            <option value="3">Require password to view(This will also encrypt the content)</option>
          </select>
        </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Text</label>
        <textarea type="text" class="form-control content-box" id="formGroupExampleInput" name="Content"></textarea>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" onclick="modalIfNoPass()">
          Save Post
        </button>
      </div>

      <div class="modal fade" id="noPassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Saving without password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>You are about to save a post without a password. This means the post can never be edited</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
              <button type="submit" class="btn btn-primary">Save anyways</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </article>

</main>
<script>
  var simplemde = new SimpleMDE();
</script>
<script src="/static/js/zxcvbn.js" async></script>

<!-- Button trigger modal -->
{{ template "layoutEnd"}} {{end}}

{{define "deletepost"}} {{ template "layout" }}
<main role="main" class="container col-sm-12 col-md-9 col-lg-9">
  <div class="col-md-12">
    <div class="text-header">
      <h4>Delete post</h4>
    </div>
    <form action="/post/{{.ID}}/delete/post" method="POST">
        {{.csrfField}}
      <label>Password</label>
      <input type="password" class="form-control col-md-12" id="formGroupExampleInput" placeholder="(Optional)" name="Pass">
      <br>
      <input type="submit" class="btn btn-danger" value="Delete post">
    </form>
  </div>
</main>
{{ template "layoutEnd"}} {{end}} {{define "edit"}} {{ template "layout" }}
<link rel="stylesheet" href="/static/css/simplemde.min.css">
<script src="/static/js/simplemde.min.js"></script>
<main role="main" class="container col-sm-12 col-md-9 col-lg-9">
  <div class="text-header col-md-12">
    <h4>Edit Post</h4>
    <form action="/post/{{.ID}}/edit/post" method="POST">
        {{.csrfField}}
      <div class="form-group col-md-9 topbar">
        <label for="formGroupExampleInput">Title</label>
        <input type="text" class="form-control col-md-12" id="formGroupExampleInput" placeholder="(Optional)" name="Title" value="{{.Title}}">
      </div>
      <div class="form-group col-md-3 topbar derpimbadatcss">
        <label>Post password</label>
        <input type="password" name="Pass" class="form-control" id="">
      </div>
      <div class="form-group col-6 topbar">
          <label>Set new permissions</label>
          <input type="checkbox" name="changeperms" id="changeperms" onclick="activateCustomPass('changeperms','postperms' )"> 
          <select class="form-control" name ="postperms" id="postperms" disabled>
            <option value="1">Anarchy, anyone can view and edit the post without needing a password</option>
            <option value="2">Anyone with link can view, but not edit</option>
            <option value="3">Require password to view(This will also encrypt the content)</option>
          </select>
        </div>
        <div class="form-group col-6 topbar">
          <label>Set new password</label>
          <input type="checkbox" name="CustomPass" id="customPass" onclick="activateCustomPass()"> 
          <input type="password" name="Pass" class="form-control" id="customField" disabled="true" placeholder="Password">
        </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Text</label>
        <textarea type="text" class="form-control content-box" id="formGroupExampleInput" value="" name="Content">{{.Content}}</textarea>
      </div>
      <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Save Edit">
      </div>
    </form>
  </div>
</main>
<script>
  var simplemde = new SimpleMDE();
</script>
{{ template "layoutEnd" }} {{end}}